assignment_5/target/*
assignment_5/.idea/
assignment_5/.idea/assignment_5.iml assignment_5/.idea/misc.xml assignment_5/.idea/modules.xml assignment_5/.idea/sbt.xml assignment_5/.idea/vcs.xml assignment_5/.idea/workspace.xml
